<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041700468711-f82h1kqjcnrngs6ckteh3cqnt5787acv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041700468711-f82h1kqjcnrngs6ckteh3cqnt5787acv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdnWuzMwsa7AuNO02-ih3OP1DzPHpo_4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1041700468711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakeit.Trainly</string>
	<key>PROJECT_ID</key>
	<string>trainly-a2792</string>
	<key>STORAGE_BUCKET</key>
	<string>trainly-a2792.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041700468711:ios:9f7d931948a5b005a76f42</string>
</dict>
</plist>